.DS_Store

home/cache/*
!home/cache/index.html
!home/cache/.htaccess

home/logs/*
!home/logs/index.html
!home/logs/.htaccess

db_proxy/cache/*
!db_proxy/cache/index.html
!db_proxy/cache/.htaccess

db_proxy/logs/*
!db_proxy/logs/index.html
!db_proxy/logs/.htaccess

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

up-rewrite.conf